<div class="ui segment">
  <h1 class="ui center aligned header">
    <%= link_to "Ruby on Rails入門サイト", root_path %>
  </h1>
  <h3 class="ui right aligned header">
    Right
  </h3>
  <h3 class="ui left aligned header">
    Left
  </h3>
  <h3 class="ui justified header">
    This should take up the full width even if only one line
  </h3>
</div>